<section class="main">
    <section class="main-content">
        <div class="header">
            <h2>
            Endre: {{vm.createService.details.title}}
            <span> - Aktivitet</span>
            <span class="pull-right edits">
                <!--                 <a ng-click="vm.createService.goToView('form-activity', vm.createService.details)">endre</a> -->
                <a ng-click="vm.removeActivity(vm.createService.details)">slett</a>
            </span>
            <span alt="hjelp" class="pull-right glyphicon glyphicon-question-sign"></span>
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="activity-title" class="control-label">Titel:</label>
                    <input type="text" class="form-control" name="activity-title" ng-model="vm.createService.details.title"></input>
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label">Beskrivelse:</label>
                    <textarea class="form-control" rows="3" name="Description" ng-model="vm.createService.details.description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><b>Registreringer</b></p>
                <ul class="list-group">
                    <li class="list-group-item" ng-click="vm.goToInputForm(vm.createService.details, null)">
                        <p><b><a >Ny registrering</a></b></p>
                    </li>
                    <li class=" list-group-item" ng-repeat="input in vm.createService.details.inputs" ui-view="input-details-main@indicators.create"></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">
                    <button class="btn btn-default" ng-click="vm.createService.goToView('activity-details', vm.createService.details)">Avbryt</button>
                    <button class="btn btn-default" ng-click="vm.createService.goToView('activity-details', vm.createService.details)">Lagre Endringer</button>
                </p>
            </div>
        </div>
    </section>
</section>