<section class="content-list" style="min-height:500px">
    <div class="header">
        <h2 class="text-center"> <a ui-sref=".main" ng-hide="!vm.indicator.title" style="text-decoration:none; color:white">{{vm.indicator.title}}</a><a ng-show="!vm.indicator.title" ui-sref=".main" style="text-decoration:none; color:white">Indikator uten navn</a></h2>
    </div>
    <ul dnd-list="vm.indicator.activities" class="list-group">
        <li class="list-group-item">
            <a ng-click="vm.addActivity()">Legg till aktivitet</a>
        </li>
        <li ng-repeat="item in vm.indicator.activities"
            dnd-draggable="item"
            dnd-moved="vm.indicator.activities.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="vm.listSelected = item"
            ng-class="{'actSelected': vm.listSelected === item}"
            class="list-group-item"
            >

                <div class="subheader">
                    <h3 ng-click="vm.setWorkingObject(item)" ui-sref=".activity({indicatorId: vm.indicatorId, activityInd:$index.toString()})">{{$index+1}} - {{item.title}}</h3>
                    id:{{$index}}
                </div>
                <div >
                    <ul dnd-list="item.inputs" >
                            <p class="text-muted" >Registreringer:</p>
                        <li ng-repeat="in in item.inputs"
                            dnd-draggable="in"
                            dnd-effect-allowed="move"
                            dnd-moved="item.inputs.splice($index, 1)"
                            dnd-selected="vm.listSelected = in"
                            ng-class="{selected: vm.listSelected === in}"
                            class="secondary-ul"

                            >
                            {{$index+1}}
                            {{in.text | limitTo: 55}}
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>

        </li>
    </ul>
</section>