<section>
    <div class="page-header">
        <h1>Ny indikataor</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div ui-view="side@indicators.create"></div>
        </div>
        <div class="col-sm-9">
            <div ng-if="vm.currentView=='main'" ui-view="main@indicators.create"></div>
            <div ng-if="vm.currentView=='activity-details'" ui-view="activity-details-main@indicators.create"></div>
            <div ng-if="vm.currentView=='input-details'" ui-view="input-details-main@indicators.create"></div>
        </div>
    </div>
</section>