<section  style="margin-top:0.9em;margin-bottom:0.8em;">
    <div class="header" style="padding-left:0.9em;">  
    <h1>Indikatorer</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="indicator in vm.indicators" ui-sref="indicators.view({ indicatorId: indicator._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="indicator.created_at | date:'mediumDate'"></span>
        by
        <span ng-if="indicator.created_by" ng-bind="indicator.created_by"></span>
        <span ng-if="!indicator.created_by">Ukjent</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="indicator.name"></h4>
      <p class="list-group-item-text" ng-bind="indicator.description"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.indicators.$resolved && !vm.indicators.length">
    No indicators yet, why don't you <a ui-sref="indicators.create">create one</a>?
  </div>
</section>