<section>
  <div class="page-header">
    <h1 ng-bind="vm.indicator.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.indicator.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="indicators.edit({ indicatorId: vm.indicator._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Laget
      <span ng-bind="vm.indicator.created | date:'mediumDate'"></span>
      av
      <span ng-if="vm.indicator.created_by" ng-bind="vm.indicator.created_by"></span>
      <span ng-if="!vm.indicator.created_by">Ukjent bruker</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.indicator.description"></p>
</section>
