<section>
 <div class="row">
     <div class="col-sm-2 text-center" style="border-right:2px solid #eee;">
         <span class="text-center" style="color:#555;font-size:3em;font-weight:bold">{{$index + 1}}</span>
     </div>
     <div class="col-sm-10">
<!--      <div class="row" style="padding:0; margin:0; margin-top:-10px; border-bottom:1px solid #eee">
         <p class="text-center" style="text-transform:uppercase; font-size:0.7em; margin:0;padding:0.2em">{{input.type}}</p>
     </div> -->
         <div class="row">
             <div class="col-sm-12 input-detail-main">
                <p class="col-sm-9">
                    <b class="" style="padding:0" ng-if="input.mandytory">Obligatorisk</b>
                    <b class="" style="padding:0" ng-if="!input.mandytory">Frivillig</b>
                    <b class="" style="padding:0">, {{input.type}}</b>, INDEX {{$index}}
                </p>
                <div style="border-left:2px solid #eee" class="col-sm-3 "><p class="pull-right"><a class="" ng-click="ac.editInput(input._id)"> endre </a> <a ng-click="ac.removeInput($index)" class=" "> slett </a></p>
                </div>
                <p class="col-sm-11"><b class="col-sm-3" style="padding:0">Tekst: </b> <span class="col-sm-9">{{input.text | limitTo: 100}}</span></p>
                <p class="col-sm-11"><b class="col-sm-3" style="padding:0">Standarder: </b>
                <span class="col-sm-9"><span ng-repeat="std in input.requirements">{{std.standard}}, </span></span>
                <span class="col-sm-9"  ng-if="input.requirements==0">Ingen</span></p>
             </div>
         </div>
     </div>
 </div>
 <div class="row input-hide-detail" ng-click="ac.toggleInputDetails($index)">
     <div class="col-sm-12">
         <p class="text-center">
             Vis Mer
         </p>
     </div>
 </div>
 <div class="row" uib-collapse="ac.expandedInputIndex != $index">
     <div class="col-sm-12">
         <pre>Detaljer: {{input | json}}</pre>
     </div>
 </div>
</section>
