<section class="main">
    <section class="main-content">
        <div class="header" >
         <h2>
            Lag testmal
            <!--    <span alt="hjelp" class="pull-right glyphicon glyphicon-question-sign"></span> -->
        </h2>
    </div>
    <div class="sub-header">
        <h3 >
            Generell informasjon
        </h3>
    </div>
    <form class="form-horizontal" name="vm.form.testTemplateForm"  ng-submit="vm.save(vm.form.testTemplateForm.$valid)">


        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">Tittel</label>
                <div class="col-md-8">
                    <input id="testTemplate-title" name="title" type="text" placeholder="Skriv inn tittel" class="form-control input-md" data-ng-model="vm.testTemplate.title" data-ng-value="vm.testTemplate.title" required="" >
                    <span class="help-block">Dette feltet er obligatorisk og må være mellom 3 og 50 tegn</span>
                </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="description-testTemplate">Beskrivelse</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="description" data-ng-model="vm.testTemplate.description" data-ng-value="vm.testTemplate.description" 
                    rows=6 name="description">Beskriv testobjektet her. </textarea>
                </div>
            </div>
            <!-- <div class="form-group">
                <label class="col-md-3 control-label" for="testTemplate-general"></label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success pull-right">Lagre</button>

                </div>
            </div> -->
        </fieldset>
    </form>

    <div class="sub-header">
        <h3 >
            Legg til et testobjekt
        </h3>
    </div>
    <form class="form-horizontal" name="vm.form.testTemplateForm"  ng-submit="vm.save(vm.form.testTemplateForm.$valid)">


        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="testTemplate-title">Hva skal testes?</label>
                <div class="col-md-8">
                    <input id="testTemplate-title" name="testTemplate-title" type="text" placeholder="Skriv inn tittel" class="form-control input-md" data-ng-model="vm.testTemplate.testObject" data-ng-value="vm.testTemplate.testObject" required="" >
                    <span class="help-block">Dette feltet er obligatorisk og må være mellom 3 og 50 tegn</span>
                </div>
            </div>
            <!-- Textarea -->
           <!--  <div class="form-group">
                <label class="col-md-3 control-label" for="description">Beskrivelse</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="description" data-ng-model="vm.testTemplate.description" data-ng-value="vm.testTemplate.description" rows=6 name="description">Beskriv testobjektet her. </textarea>
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="testTemplate-general"></label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success pull-right">Lagre</button>

                </div>
            </div>
        </fieldset>
    </form>
</section>

                <!--                 <div class="info">
                    <div class="info-left">
                        
                        <img class="info-img" src="modules/indicators/client/img/info1.svg" alt="...">
                        
                    </div>
                    <div class="info-body">
                        <h4 class="media-heading">Informasjon: Valg av krav</h4>
                        <p>
                            Krav som er valgt for forskjellige registreringer listes opp her. Du kan også legge til kravene her og, tildele dem registreringer senere.
                        </p>
                        <p><a class="pull-right">Skjul</a></p>
                    </div>
                </div> -->

                <!-- <section class="main-content">
                    <div class="sub-header" ng-click="vm.collapseSection('activities')">
                        <h3>
                            Aktiviteter og registreringer
                        </h3>
                    </div>
                    <div class="row" uib-collapse="vm.collapse.activities">
                        <div class="col-sm-12 ">
                            <uib-alert type="info" close="closeAlert($index)"> En indikator kan bestå av en eller flere aktiviteter. Hver aktivitet kan inneholde registreringer / spørsmål. Liste til venstre kan også bruker for å administrere aktiviteter og registreringer.</uib-alert>
                            <a ng-click="vm.addActivity()">Legg till aktivitet</a>

                        </div>
 -->

                    </section>
                </section>