
<section>
    <div class="header">
        <h2 class="text-center">Oversikt

        <!-- <a ui-sref=".main" ng-hide="!vm.indicator.title" style="text-decoration:underline; color:white">{{vm.indicator.title}}</a><a ng-show="!vm.indicator.title" ui-sref=".main" style="text-decoration:none; color:white">Indikator uten navn</a> -->

        </h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item"  style="padding:0">
            <!-- <div class="sub-header" ng-click="vm.add();" style="background-color: #eeffee">
                <h3>Ny aktivitet <span class="pull-right">+</span></h3> -->
            </div>
        </li>
        <li class="list-group-item" ng-repeat="ind in vm.tetstTemplates.indicators" style="padding:0">
           <!--  <div class="sub-header" ui-sref=".activity({indicatorId: vm.indicatorId, activityInd:item._id.toString()})"> -->
                <h3>{{ind.title}}</h3>
            </div>
            <div class="row" style="padding:0.8em">
                <div class="col-sm-12">
                    <h5 style="text-transform: uppercase">
                    <span ng-if="ind.inputs.length > 0">{{item.inputs.length}}</span>
                    <span ng-if="item.inputs.length == 0">Ingen</span>
                    Registreringer
                    <span ng-if="item.inputs.length > 0 && vm.sideShowActInputs != $index" ng-click="vm.sideShowActInputs = $index"> - Vis</span>
                    <span ng-if="item.inputs.length > 0 && vm.sideShowActInputs == $index" ng-click="vm.sideShowActInputs = -1"> - Skjul</span>
                    </h5>
                    <ul class="list-group" uib-collapse="vm.sideShowActInputs != $index">
                        <li class="list-group-item" ng-repeat="inp in item.inputs">
                            {{$parent.$index+1}}.{{$index+1}}. <span ng-if="inp.text.length"> {{inp.text}}</span><span ng-if="!inp.text.length">ingen registreringstekst.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>





    <!-- <div class="header">
    <h2>Testmaler</h2>
        <h2 class="text-center"> <a ui-sref=".main" ng-hide="!vm.testTemplate.title" style="text-decoration:none; color:white">{{vm.testTemplate.title}}</a><a ng-show="!vm.testTemplate.title" ui-sref=".main" style="text-decoration:none; color:white">Testmal uten navn</a></h2>
    </div>
    <ul dnd-list="vm.indicator.activities" class="list-group">
        <li class="list-group-item">
            <a ng-click="vm.addIndicator()">Legg til indikator</a>
        </li>
        <li ng-repeat="item in vm.testTemplates.indicators">

                <div class="subheader">
                    <h4 ng-click="vm.setWorkingObject(item)" ui-sref=".({testTemplateId: vm.testTemplateId, indicaorInd:$index.toString()})">{{$index+1}} - {{item.title}}</h4>
                </div>
                <div >
                    <ul dnd-list="item.inputs">
                            <p class="text-muted" >Registreringer:</p>
                        <li ng-repeat="in in item.inputs">

                            {{$index+1}}
                            {{in.text | limitTo: 55}}
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>

        </li>
    </ul>
</section>  -->