<p>Legg til og administrer svaralternativer.</p>
<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="alt-text">
      Tekst
    </label>
    <div class="col-sm-8 input-group">
      <input type="text" name="alt-text" placeholder="Skriv inn tekst" class="form-control input-md" required="" data-ng-model="ic.input.options.alternative.text" data-ng-value="ic.input.options.alternative.text">
      <div class="input-group-addon" ><a ng-click="vm.addAnswerAlternative()" style="color:black">Legg til</a></div>
    </div>
  </div>
  <div class="form-group">
    <label for="freetext-registration" class="col-sm-3 control-label"> Mulighet for en annen, fritekst registrering</label>
    <div class="col-sm-8">
      <div class="radio">
        <label class="control-label" >
          <input name="freetext-registration" type="radio" value="true" ng-model="vm.input.additionalFreetextAllowed">Nei
       </label>
      </div>
       <div class="radio">
        <label class="control-label" >
          <input name="freetext-registration" type="radio" value="false" ng-model="vm.input.additionalFreetextAllowed">Ja
       </label>
      </div>
    </div>
  </div>
</div>
  <br>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="alternative in vm.input.alternatives">
      <div class="row">
        <div class="col-sm-8">
          <input type="checkbox" value="alternative.correct" ng-model="alternative.correct">
          <span ng-show="editAlternative !== $index">{{alternative.text}}</span>
          <span ng-show="editAlternative == $index">Text:</span>
          <input ng-show="editAlternative == $index" type="text" ng-value="alternative.text" ng-model="alternative.text" style="width:100%"/>
        </div>
        <div class="col-sm-2">
          <span ng-show="editAlternative !== $index" > Poeng: {{alternative.points}}</span>
          <span ng-show="editAlternative == $index" >Poeng:</span>
          <input ng-show="editAlternative == $index" type="numeric" ng-value="alternative.points" ng-model="alternative.points" style="width:100%;"/>
        </div>
        <div class="col-sm-1">
          <a ng-show="editAlternative !== $index" ng-click="editAlternative = $index">endre</a>
          <a ng-show="editAlternative == $index" ng-click="editAlternative = -1">ferdig</a>
        </div>
        <div class="col-sm-1">
          <a ng-click="vm.input.alternatives.splice($index, 1)">slett</a>
        </div>
      </div>
    </li>
    
  </ul>
  <br>
</div>
<!-- <div class="row">
  <div class="col-sm-12">
    <button class="btn pull-right" ng-click="addInput('checkbox')">Legg til registrering</button>
  </div>
</div> -->