
<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label class="col-md-3 control-label" for="solution-yes-no">Fasit</label>
            <div class="col-md-8">
                <md-radio-group data-ng-model="ic.currentSelected">

                    <md-radio-button ng-value="true">Ja</md-radio-button>
                    <md-radio-button ng-value="false">Nei</md-radio-button>
<!--                     <md-radio-button class="col-sm-9" ng-value="$index">
                     Ikke relevant
                    </md-radio-button> -->
                </md-radio-group>
            </div>
        </div>
    </fieldset>
</form>
