<div class="container" ng-controller="HeaderController as vm">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand">Torden</a>
  </div>
  <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
    <ul class="nav navbar-nav" uib-dropdown>
      <li class="dropdown" uib-dropdown>
       <a class="dropdown-toggle" uib-dropdown-toggle href="#">Indikatorer
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="indicators.list">oversikt</a></li>
          <li><a ui-sref="indicators.create.main">Lag indikator</a></li>
          <li><a href="">Page 1-3</a></li> 
        </ul>

      </li>
      <li class="dropdown" uib-dropdown>
       <a class="dropdown-toggle" uib-dropdown-toggle href="#">Tester
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="testTemplates.create.main">Lag test</a></li>
          <li><a ui-sref="testTemplates.list">Oversikt</a></li>
          <li><a ui-sref="test-results.list">Test Resultater</a></li> 
        </ul>

      </li>

      <li class="dropdown" uib-dropdown>
       <a class="dropdown-toggle" uib-dropdown-toggle href="#">Krav
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="requirements.list">oversikt</a></li>
          <li><a ui-sref="requirements.create">Legg til krav</a></li>
          <li><a href="">Page 1-3</a></li> 
        </ul>

      </li>

    </ul>

  </nav>
</div>
