<section>
<div class="clearfix bg-grey" >
  <div style="width:100%; background-color:#ee4433; margin-top:35px;">
    <h1 class="text-center" style="margin:0; color:white">OBS!</h1>
    <p class="text-center" style="color:white"> ALT ER WORK IN PROGRESS NÅ.
    </p>
  </div>
  <h1>Velkommen!</h1>
  <p>Torden er et verktøy for administrasjon av tester og testresultater</p>
  <p>Med Torden kan du:</p>
  <ul>
    <li>Lage og administrere test maler som kan lastes opp til TordenApp </li>
    <li>Lage og administrere indikatorer som inngår i tester</li>
    <li>Modelere test objekter med hensyn til hvilke egenskaper er relavante for testing</li>
    <li>Analysere data fra utførte tester</li>
  </ul>
  <h2></h2>
</div>
</section>
