<section>

    <section class="main main-content" style="margin-top:0.9em;margin-bottom:0.8em;">
    <div class="header" style="padding-left:0.5em;">
        <h1>Ny testobjekt</h1>
    </div>
        <div class="row browse-description">
            <div class="col col-sm-12">
                <p>
                    <b style="color:red">OBS: WORK IN PROGRESS</b>

                </p>
                <p>
                    Har kan du lage nye testobjekter.
                    <ul>
                        <li>
                            Fyll ut generell informasjon om testobjektet
                        </li>
                        <li>
                            Legg ved ev. beskrivelser og bilder
                        </li>
                        
                    </ul>
                </p>

            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-sm-3" >
            <div ui-view="side"></div>
        </div>
        <div class="col-sm-9" >
            <ui-view>
        </div>
    </div>
</section>