

.main-content{
    /*background-color: red;*/
    /*padding:0.9em;*/
}
 .header {
    background-color: #555;
    color:white;
    padding: 0.6em;
}
 .header h2{
    color:white;
    font-size: 1.7em;
    
    margin:0;
}
.row-fix{
    margin-left: 0;
}
.main-content > .header h2 > span {
    color: #ddd; padding-right:1em;
}
.sub-header{
    background-color: #E5E5E5;
    padding:0.6em ;
    border-bottom:1px solid #d5d5d5;
}
.sub-header:hover{
    background-color: #DADADA;
}
.sub-header h3{
    margin:0;
    font-size: 1.4em;
}
.main-content > .row{
    padding-top: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}
.edits{
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
}
.edits > a{
    color:#eee;
    font-size: 0.6em;
    /*padding: 0.7em;*/
    /*padding-right: 0.35em;*/
}
.main{
    border: 1px solid #444
}
.list-group-item:hover{
    background-color: #eee;
}
.page-header{
    background-color: #444;
    color:white;
}
form.form-horizontal{
    margin-top:1em;
}
.info{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F8FE;
    border-radius: 50px 15px 15px 50px;
    padding-top:0.5em;
    padding-right: 1em;
}
.info .info-left{
float:left;

}
.info .info-body{
    
}
.info-img{
    max-width: 100px;
}
.form-padding{
    padding-top: 7px;

}