<!DOCTYPE html> 
<html>


<section class="main main-content" style="margin-top:0.9em;margin-bottom:0.8em;">
	
		<div class="header" style="padding-left:0.5em;">
			<h1>{{vm.requirement._id ? 'Endre krav' : 'Legg til krav'}} </h1>
		</div>

		<!-- FORM -->
		<!-- pass in the variable if our form is valid or invalid -->
		<form name="vm.form.requirementForm" class="form-horizontal" ng-submit="vm.save(vm.form.requirementForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
			<fieldset>
				<!-- -->
				<div class="form-group">
					<div class="col-md-12">
						<label class="col-sm-3 control-label">Versjon:</label>
						<div class="col-sm-8">
						<input class="form-control input-md" type="text" name="nr_v9" class="form-control" ng-model="vm.requirement.nr_v9" required>
						<div class="help-block" ng-messages="vm.form.requirementForm.nr_v9.$error" ng-if="vm.form.requirementForm.nr_v9.$touched">
							<p ng-message="required">Kravet må inneholdet en standard.</p>
						</div>
					</div>
				</div>
				</div>

				<!--  -->
				<div class="form-group">
					<div class="col-md-12">
						<label class="col-sm-3 control-label">Krav i standard:</label>
						<div class="col-sm-8">
						<textarea rows="5" cols="10" type="text" name="req_in_standard" class="form-control"  ng-model="vm.requirement.req_in_standard" required></textarea>
						<div class="help-block" ng-messages="vm.form.requirementForm.req_in_standard.$error" ng-if="vm.form.requirementForm.req_in_standard.$touched">
							<p ng-message="required">Kravet må inneholdet en beskrivelse på kravet.</p>
						</div>
					</div>
				</div>
				</div>

				<!--  -->
				<div class="form-group">
					<div class="col-md-12">
						<label class="col-sm-3 control-label">Standard:</label>

						<div class="col-sm-8">
						<input style="width:100%" type="text" name="standard" class="form-control" ng-model="vm.requirement.standard" required>
						<div class="help-block" ng-messages="vm.form.requirementForm.standard.$error" ng-if="vm.form.requirementForm.standard.$touched">
							<p ng-message="required">Kravet må inneholdet en standard.</p>
						</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<label class="col-sm-3 control-label">Kapittel nummer med tittel:</label>
						<div class="col-sm-8">
						<input type="text" name="chapter_title" class="form-control" ng-model="vm.requirement.chapter_title" required >
						<div class="help-block" ng-messages="vm.form.requirementForm.chapter_title.$error" ng-if="vm.form.requirementForm.chapter_title.$touched">
							<p ng-message="required">Kravet må inneholdet et kapittel nummer med overskrift.</p>
						</div>
					</div>
                </div>
                </div>
					<!--  -->
					<div class="form-group">
						<div class="col-md-12">
							<label class="col-sm-3 control-label">Nivå (bør/skal/kan):</label>
							<div class="col-sm-8">
							<input type="text" name="level" class="form-control input-md" ng-model="vm.requirement.level" required>
							<div class="help-block" ng-messages="vm.form.requirementForm.level.$error" ng-if="vm.form.requirementForm.level.$touched">
								<p ng-message="required">Kravet må inneholdet et nivå (Bør/Skal/Kan).</p>
							</div>
						</div>
					</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<label class="col-sm-3 control-label">Kategori:</label>
							<div class="col-sm-8">
							<input type="text" name="category" class="form-control" ng-model="vm.requirement.category" required>
							<div class="help-block" ng-messages="vm.form.requirementForm.category.$error" ng-if="vm.form.requirementForm.category.$touched">
								<p ng-message="required">Kravet må inneholdet en kategori.</p>
							</div>
						</div>
					</div>
					</div>

					<!-- -->
					<div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
						<button type="submit" class="btn btn-success" ng-disabled="vm.form.requirementForm.$invalid" >{{vm.requirement._id ? 'Oppdater' : 'Lagre'}}</button>
					</div>
					</div>
				</fieldset>
			</form>

		</div>

	
</section>
</html>
